{% extends "main/layout.html" %}
{% block content%}
    <div class="about">
        <h1 class="about-title">About</h1>
        <p class="about-content"> This website was, at first, designed as an experiment by a high school student interested in trying
            out the web framework Django, which used python for backend, a language he is adept in. The project was scaled to match his
            visions of creating a dedicated website for his personal interests. His primary, grand vision, however, is to help himself and others 
            explore the seemingly complex and bizarre world of computer technology. This includes computer science topics such as Deep Learning, which the name
            of this website derives from. </p>
    </div>
{% endblock content%}