{% extends "main/layout.html" %}

{% block content %}
    <div class="home">
        <div class="main">
            <a class="main-button" href="{% url 'raedl-about'%}">Read More</a>
            <a class="main-button" href="{% url 'tutorials'%}">Tutorials</a>
            <h1 class="main-title-one">Explore.</h1>
            <h1 class="main-title-two">Learn.</h1>
            <h1 class="main-title-three">Innovate.</h1>
            <h3 class="main-subtitle">Delve into the Bizarre and Mysterious World of Advancing Computer Science and Technology</h3>
        </div>
    </div>
{% endblock content %}
